<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>trippn</title>
</head>

<body>
    <header class="header_section">
        <navbar class="row">
            <div class="heading flex-box col-lg-6 col-lg-12">
                <p class="main_heading"><i>trippn Justin</i></p>
            </div>
            <div class="links_container flex-box col-lg-6 col-lg-12">
                <ul class="links">
                    <li><a href="">PLAN</a></li>
                    <li><a href="">TRIPS</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">ACCOUNT</a></li>
                </ul>
            </div>
        </navbar>
        <div class="header_mainContainer flex-box">
            <div class="content_box flex-box">
                <p class="content_para1">PLAN YOUR</p>
                <P class="content_para2">NEXT ADVENTURE</P>
                <button class="homePage_btn flex-box">
                    <i><a class="anchor_btn" href="trippn">trippn</a></i>
                    </ul>
                </button>
            </div>
    </header>
</body>

</html>